@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900';

body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p { font-family: 'Lato'; font-weight: 400; font-size: 1.25em; line-height: 1.5em; color: #333; padding-bottom: 0.5em; }
ul { font-family: 'Lato'; font-weight: 400; font-size: 1.25em; line-height: 1.5em; color: #333; }
em { font-style: italic; }
p.title { font-style: italic; margin-left: 5%; margin-right: 5%; }

h1 { font-family: 'Lato', 'Sans-Serif'; font-weight: 900; color: #511c6c; }
h2 { font-family: 'Lato', 'Sans-Serif'; font-weight: 400; font-style: italic; color: #511c6c; }
h3, h4 { font-family: 'Lato', 'Sans-Serif'; font-weight: 700 }
h1 { font-size: 2em;  }
h2 { font-size: 1.5em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }

nav ul, footer ul { font-size: 0.8em; font-family: 'Lato', 'Sans-Serif'; padding-top: 1em; list-style: none; font-weight: 400; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; padding-top: 0.25em; 
margin-top: 2em; }
.header { border-bottom: 1px solid #d5d5d5; padding-bottom: 0.25em; margin-top: 2em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

img.poster { margin: 0 0 0 0; width: 100%; }
img.sponsor { margin: 0 0 0 0; width: 100%; }
img.org{ margin: 0 0 0 0; height: 75px; }
img.submenu{ margin: 0 0 0 0; height: 0.5em; }
p { font-size: 1em; font-weight: 400; }

.btn {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2em;
    text-align: centre;
    background-color: #c9bdd3;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

