
<footer>
 <div class="section group">
  <div class="col span_1_of_4">
   <img src="{{ site.baseurl }}/images/UoW.png" class="org left">
  </div>
  <div class="col span_1_of_4">
   <img src="{{ site.baseurl }}/images/lshtm.png" class="org middle">
  </div>
  <div class="col span_1_of_4">
   <img src="{{ site.baseurl }}/images/ntdmc.png" class="org middle">
  </div>
  <div class="col span_1_of_4">
   <img src="{{ site.baseurl }}/images/novartis.png" class="org right">
  </div>
 </div>
</footer>

</body>

</html>
