<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/html5reset.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/col.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/2cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/3cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/4cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/5cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/6cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/7cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/8cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/9cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/10cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/11cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/12cols.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">

    <script
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
      type="text/javascript">
    </script>

  </head>

<body>

<div class="header">
 <h1>Challenges in Disease Elimination</h1>
 <h2> RSTMH Biennial Meeting, Cambridge, 12 to 16 September 2016 </h2>
 <nav>
  <ul>
   <li><a href="/">Home</a></li>
   <li><a href="#">Introduction</a></li>
   <li><a href="#">Methods</a></li>
   <li><a href="#">Analysis</a></li>
   <li><a href="#">Future work</a></li>
   <li><a href="/about">Authors</a></li>
   <li><a href="/acknowledgements">Acknowledgements</a></li>
  </ul>
 </nav>
</div>
